/* h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: orangered;
} */
div {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.abc {
  display: flex;
  justify-content: center;
  align-items: center;
}
