body {
  text-align: center;
  background-image: url(./img/ground.jpg);
}
body > h1,
table > caption {
  color: white;
}
table {
  width: 100%;
}
table,
tr,
th,
td {
  border: 1px solid black;
}
table {
  width: 2000px;
  margin: 0 auto;
  border-spacing: 20px 5px;
}
th,
td {
  padding: 7px 10px 10px 10px;
  background-color: #ddd;
}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.group {
  width: 200px;
}
.flag {
  width: 30px;
}
